
.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

section {
    padding: 20px;
    text-align: center;
}

.heading{
    color:#8d3434e5;
    font-family: 'fansong',cursive;
    font-family: Georgia, serif;
}
#name{
    color: yellow;
    /* font-family: emoji; */
    font-family: "Times New Roman", Times, serif;
   
}
#landing {
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#landing h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.glow-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    color: white;
    background-color: #f3008e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow 0.3s ease-in-out;
}
@media (min-width:500px) {
    .glow-button:hover {
    box-shadow: 0 0 10px #be00fe, 0 0 20px #be00fe, 0 0 30px #be00fe, 0 0 40px #be00fe;
}
.glow-button:active{
    background-color: #9a035b;
} 
}
@media (max-width:499px) {
.glow-button:active{
    background-color: #9a035b;
} 
}
#ourStory .timeline .love {
    margin: 20px;
    background-image: url("https://i.ibb.co/Q9Gbk9h/pngtree-modern-happy-valentines-day-design-png-image-5313723.png");
    
    padding: 20px;
    border-radius: 10px;
    box-shadow: 20px 20px 55px rgba(0, 0, 0.1, 1);
    color: aliceblue;
}

#ourStory .timeline .event {
  margin: 20px;
  background-image: url("https://i.ibb.co/8nZCb1Y/Black-and-Gold-Playful-Happy-Birthday-Instagram-Post.png");
object-fit: cover;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 20px 20px 55px rgba(0, 0, 0.1, 1);
  color: aliceblue;
}


.event img{
    width: 100%;
    height: auto;
    max-width: 300px;
    margin: 10px;
    border-radius: 10px;

}   
.love img{
  width: 100%;
  height: auto;
  max-width: 300px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid rgb(109, 0, 218)
}   

.letter {
    font-family: 'Courier New', Courier, monospace;
    background-color: #fa9acf;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 50px rgba(0, 0, 0.1, 1);
    margin: 0 auto;
   
}
@media (min-width:500px) {
    .letter {width: 80%; font-size: 16px;  }  
}
@media (max-width:499px) {
    .letter {width: 90%; font-size: 12px;  }  
}
.futurePlan{
    font-family: 'Courier New', Courier, monospace;
}
audio {
    width: 80%;
    margin-top: 20px;
}
video{
    width: auto;
    margin-top: 20px; 
}

#message{
    background-color: rgb(255, 223, 238);
    width: 90%;
    padding: 1%;
    margin: 15px;
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 87%);
}
@media (min-width:500px) {
    #message{font-size: 16px;}
}
@media (max-width:499px) {
    #message{font-size: 12px;}
}
#contact form button {
    /* padding: 10px;
    margin: 10px; */
    width: 23%;
    padding: 1%;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
   background-color: #fd3c86;   /* #ff6f61 */
    color: white;
    border: none;
    cursor: pointer;
}
#contact form button:hover{
    background-color: #db3172;
}
body {
    background-image: url('https://www.transparenttextures.com/patterns/asfalt-dark.png');
    background-color: #e6d70d;
    background-repeat: repeat;
    color: #b03060; 
    font-family: 'Dancing Script', cursive; 
}
.contributor{
    color: aliceblue;
    margin-top: 1%;
}
.memories{
  background-image: url('https://i.ibb.co/ZMJKqYm/hq720.jpg');
  background-size: cover;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 50px rgba(0, 0, 0.1, 1);

  margin: 0 auto;
  align-items: center;
}
@media (min-width:500px) {
  .memories{   width: 70%;}
}
@media (max-width:499px) {
  .memories{   width: 85%;}
}
.ourMemories{

 margin: 10px;
  border:2px solid palevioletred;
  width:250px;
  height: 444px;
  border-radius: 3%;
  object-fit: cover;
}
  .ourMemories{
  
   margin: 10px;
    border:2px solid palevioletred;
    width:100px;
    height: 200px;
    border-radius: 3%;
    object-fit: cover;
  }
  .loveLetter{
    color: #000000;
  }
  .foot-panel1{
    background-color: #503c67;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.wp{

  text-align: center;
}

/* upload section */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins';
}


/* Responsive Styles */

/* For laptops and tablets */
@media (min-width: 500px) {
 
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #524f4f;
  position: relative;

  .box {
    width: 0%;
    height: 620px;
    background: #070707;
    position: absolute;
    animation: openBox 1s cubic-bezier(.74, .06, .4, .92) forwards;

    .product__img {
      width: 600px;
      position: absolute;
      left: -150px;
      top: 50px;
      opacity: 0;
      animation: fadeImg 1s ease-in-out forwards;
      animation-delay: 1s;
    }

    .product__video {
      width: 320px;
      height: 100px;
      position: absolute;
      left: 50px;
      bottom: 50px;

      .video {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0px;
        opacity: 0;
        animation: upVideo 1s cubic-bezier(.74, .06, .4, .92) forwards;
        animation-delay: 1.2s;


        i {
          width: 70px;
          height: 70px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 12px;
          color: #F71568;
          border: 2px solid #F71568;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          transition: ease-in-out 220ms;
          cursor: pointer;
        }
          &:hover {
            background: #F71568;
            color: #fff;
            box-shadow: 0 0 26px #F71568;
          }
        }
        p {
          margin-left: 25px;
             font-family: 'Poppins';

        }
      }
    }

    .product__disc {
      width: 0px;
      height: 430px;
      background: #FFCA1B;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 0px;
      top: 50px;
      animation: showDisc 1s cubic-bezier(.74, .06, .4, .92) forwards;

      .product__disc--content {
        width: 80%;
        height: 80%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        animation: fadeContent 1s ease-in-out forwards;
        animation-delay: 1s;
        opacity: 0;

        .disc__content--about {
          width: 100%;

          h1 {
            font-size: 32px;
               font-family: 'Poppins';

          }
          span {
            font-family: 'Lato';
            font-size: 14px;
            letter-spacing: 2px;
            text-transform: uppercase;
            display: flex;
            opacity: 0.5;
          }
          p {
            margin-top: 35px;
            font-size: 14px;
            font-family: 'Poppins';

          }
        }

        .product__view--more {
          width: 100%;
          display: flex;
          align-items: center;
          position: relative;
          cursor: pointer;

          &:hover {
            .view__more--block {
              width: 220px;
              height: 35px;
            }
          }

          .view__more--block {
            width: 10px;
            height: 15px;
            position: absolute;
            background: #f6f6f6;
            z-index: 1;
            transition: cubic-bezier(0.68, -0.55, .27, 01.55) 320ms;
          }
          p {
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 2px;
            display: flex;
            z-index: 2;
            margin-left: 15px;
               font-family: 'Poppins';

          }
        }
      }
    }

    .product_buttons {
      width: 500px;
      height: 100px;
      bottom: 50px;
      right: -50px;
      position: absolute;

      .btn {
        width: 240px;
        height: 70%;
        font-size: 16px;
        font-weight: bold;
        font-family: 'Poppins';
        -webkit-transition: ease-in-out 220ms;
        -moz-transition: ease-in-out 220ms;
        -ms-transition: ease-in-out 220ms;
        -o-transition: ease-in-out 220ms;
        transition: ease-in-out 220ms;
        cursor: pointer;
      }

      .wishlist {
        border: 2px solid #F71568;
        background:transparent;
        color: #F71568;
        position: absolute;
        bottom: -25px;
        left: 0;
        opacity: 0;
        animation: fadeWish 1s cubic-bezier(.74, .06, .4, .92) forwards;
        animation-delay: 1s;
      
        &:hover {
          background: #F71568;
          color: #FFF;
          box-shadow: 0 0 26px #F71568;
        }
      }
    }

      .buy {
        border: none;
        background: #F71568;
        color: #FFF;
        position: absolute;
        right: 0;
        bottom: 0;
        opacity: 0;
        animation: fadeBuy 1s cubic-bezier(.74, .06, .4, .92) forwards;
        animation-delay: 1s;

        &:hover {
          box-shadow: 0 0 26px #F71568;
        }
      }
    }
  }

/*
  keyframes
 */

@keyframes openBox {
  0% {
    width: 0px;
    left: 15%;
  }
  100% {
    width: 900px;
    left: 15%;
  }
}

@keyframes fadeImg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes upVideo {
  0% {
    opacity: 0;
    bottom: -20px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}

@keyframes showDisc {
  0% {
    width: 0px;
    left: 450px;
  }
  100% {
    width: 500px;
    left: 450px;
  }
}

@keyframes fadeContent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeWish {
  0% {
    opacity: 0;
    bottom: -25px;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}

@keyframes fadeBuy {
  0% {
    opacity: 0;
    bottom: -25px;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}



/* For mobile devices */
@media (max-width: 499px) {
.container{
  width: 100%;
  height: 60%;
  background-color: black;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  padding: 10px;
}
.product__disc{
  width: 85%;
  height: 40%;
  background-color: #FFCA1B;
  margin: 5%;
  padding: 5%;
}
.product_buttons {
  width: 50px;
  height: 10px;
  bottom: 50px;
  right: -50px;
  display: inline;

  .btn {
    width: 240px;
    height: 70%;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Poppins';
    -webkit-transition: ease-in-out 220ms;
    -moz-transition: ease-in-out 220ms;
    -ms-transition: ease-in-out 220ms;
    -o-transition: ease-in-out 220ms;
    transition: ease-in-out 220ms;
    cursor: pointer;
  }

  .wishlist,.buy {
    border: 2px solid #F71568;
    background:transparent;
    color: #F71568;
    margin: 10px;
    bottom: -25px;
    left: 0;
    opacity: 0;
    animation: fadeWish 1s cubic-bezier(.74, .06, .4, .92) forwards;
    animation-delay: 1s;
  }
    &:active {
      background: #F71568;
      color: #FFF;
      box-shadow: 0 0 26px #F71568;
    }
  }



}

/*ignore*/

/*footer css*/
#start{
    text-decoration: none;
    color:rgb(255, 255, 255);

}

a {
  color: #fff;
  text-decoration: none;
}
.pg-footer {
  font-family: 'Roboto', sans-serif;
}


.footer {
    background-color: #000000;
    color: #fff;
}
.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
}
.footer-wave-path {
    fill: #fffff2;
}

.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
}

.footer-content-column {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-logo-link {
    display: inline-block;
}
.footer-menu {
    margin-top: 30px;
}

.footer-menu-name {
    color: #fffff2;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-menu-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
}
.footer-menu-list li {
    margin-top: 5px;
}

.footer-call-to-action-description {
    color: #fffff2;
    margin-top: 10px;
    margin-bottom: 20px;
}
.footer-call-to-action-button:hover {
    background-color: #fffff2;
    color: #FFCA1B;
}
.button:last-of-type {
    margin-right: 0;
}
.footer-call-to-action-button {
    background-color: #FFCA1B;
    border-radius: 21px;
    color: #fffff2;
    display: inline-block;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    padding: 12px 30px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;
    cursor: pointer;
    position: relative;
}
.footer-call-to-action {
    margin-top: 30px;
}
.footer-call-to-action-title {
    color: #fffff2;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-call-to-action-link-wrapper {
    margin-bottom: 0;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
}
.footer-call-to-action-link-wrapper a {
    color: #fff;
    text-decoration: none;
}





.footer-social-links {
    bottom: 0;
    height: 54px;
    position: absolute;
    right: 0;
    width: 236px;
}

.footer-social-amoeba-svg {
    height: 54px;
    left: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 236px;
}

.footer-social-amoeba-path {
    fill: #FFCA1B;
}

.footer-social-link.linkedin {
    height: 266px;
    left: 3px;
    top: 11px;
    width: 26px;
}

.footer-social-link {
    display: block;
    padding: 10px;
    position: absolute;
}

.hidden-link-text {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
}

.footer-social-icon-svg {
  display: block;
}

.footer-social-icon-path {
    fill: #fffff2;
    transition: fill .2s;
}

.footer-social-link.twitter {
    height: 28px;
    left: 62px;
    top: 3px;
    width: 28px;
}

.footer-social-link.youtube {
    height: 24px;
    left: 123px;
    top: 12px;
    width: 24px;
}

.footer-social-link.github {
    height: 34px;
    left: 172px;
    top: 7px;
    width: 34px;
}

.footer-copyright {
    background-color: #FFCA1B;
    color: #fff;
    padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-copyright-link {
    color: #fff;
    text-decoration: none;
}







/* Media Query For different screens */
@media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */

}
@media (min-width:1281px) { /* hi-res laptops and desktops */

}




@media (min-width: 760px) {
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 450px;
      position: relative;
  }

  .footer-wave-svg {
      height: 50px;
  }

  .footer-content-column {
      width: 24.99%;
  }
}
@media (min-width: 568px) {
  /* .footer-content-column {
      width: 49.99%;
  } */
}

/* headline video*/
@media(min-width : 500px){
  .headvideo{
    width: 100%;
    height: 200px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    position:absolute;
    object-fit: cover;
  }
  video{
    width: 100%;
    height: 150px;
  }
}
/*mobile*/
@media(max-width : 499px){
  .headvideo{
    width: 100%;
    height: 200px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    position:absolute;
    object-fit: cover;
  }
  video{
    width: 100%;
    height: 150px;
  }
}
h1{
  font-size: 20px;
  text-align: center;
  color: #000000;
  font-family: cursive;
}